@using ShortURL.Models
@model Links
@{
    ViewData["Title"] = "AddLink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddLink</h1>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("AddLink","Home", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>LongLink</label>
                        @Html.TextBoxFor(m =>m.LongUrl, "", new{@class = "form-control", @placeholder="",@id="LongURL"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Created</label>
                        @Html.TextBoxFor(m =>m.Created, "", new{@class = "form-control", @placeholder="",@id="Created"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>ShortLink</label>
                        @Html.TextBoxFor(m =>m.ShortUrl, "", new{@class = "form-control", @placeholder="",@id="ShortUrl"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Clicks</label>
                        @Html.TextBoxFor(m =>m.Clicks, "", new{@class = "form-control", @placeholder="",@id="Clicks"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button type="submit" class="btn btn-primary submit-btn">Save</button>
                </div>
            </div>
        }
    </div>
</div>